.c-error {
    color: red;
    font-size: 12px;
    &__tasks {
        margin-top: 7px;
        white-space: normal;
    }
    &__bg {
        background: #f7dcd9;
        border-color: #ff6366;
    }
    &__profile {
        text-align: center;
    }
}

.message {
    color: red;
    font-style: 14px;
    margin-bottom: 7px;
}
