.c-form{
  text-align: center;
  &__outputImg{
    width: 100%;
    height: 100%;
    @include custumRadius(50%);
  }
  &__container{
    // 未設定

    &--profile{
      display: flex;
      justify-content: space-around;
      padding: $space_xl;
      margin-bottom: $space_xxl;
      @include mq(){
        display: block;
      }
    }
  } 
  &-lavel{
    display: inline-block;
    margin-bottom: 10px;
    &__profile{
      display: block;
      text-align: center;
    }
  }
  &__action{
    margin-top: $space_xxl;
    
    &__item{
      text-align: center;
      font-size: $space_l;
    }
  }
}

.c-form__item+.c-form__item{
  margin-top: $space_xl;
}

.c-updateFrom{
  display: inline-block;
}