.c-modal{
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0,0,0,0.3);
  &__body{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 70%;
    max-width: 500px;
    height: auto;
    box-sizing: border-box;
    padding: 30px;
    z-index: 99;
    overflow: auto;
    @include custumRadius(8px);
    transform: translate(-50%, -50%);
    background-color: #fff;
    @include mq(){
      width: 90%;

    }
  }
  &__inner{
    margin-top: 30px;
  }
  &__btn{

    &__passwordEdit{
      float: right;
    }
  }
}

// トランジションアニメーション
.fade-enter-active, .fade-leave-active {
  will-change: opacity;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.fade-enter, .fade-leave-to {
  opacity: 0
}