/********************************************** 
タスク管理画面用
**********************************************/
.c-task{

  // 共通レイアウト
  height: calc(100vh - 100px);
  display: flex;
  flex-flow: column;
  overflow-y: hidden;

  &--content{
    width: 100%;
    display: flex;
    flex-flow: column;
    overflow-y: hidden;
  }
  &--borad01{
    display: flex;
    height: 100%;

  }
  &--borad02{
    width: 100%;
    padding-right: 0;
    height: 100%;
    background-color: #fff;
    
  }
  &--borad03{
    margin-top: 35px;
    display: flex;
    height: 100%;
    width: 100%;
    white-space: nowrap;
    
    // overflow-x: scroll; // 横方向のスクロールバーを表示
    // overflow-y: hidden; // 縦方向スクロールバーを隠す
  }


    // ここからサイドバー
    &--sidebar{
      width: 300px;
      padding: $space_xxl;
      
          &__user{
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &__usertitle{
            font-size: $font-size-l;
            text-align: center;
          }

          &__wrapp{
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
          }
    }
    &__avater{
      margin-right: $space_xl;
      width: 70px;
      height: 70px;
      > img {
        @include custumRadius(50%);
      }
    }

    &--folder{
        transition: .5s;
        &:hover{
          cursor: pointer;
          background: #36363638;
          transition: .5s;
        }
        &__item{
          margin-right: 15px;
        }
        &__wrapp{
          display: flex;
          align-items: center;
        
        }
    }

    // ここからTODOリスト側
    &--card{
        display: flex;
        height: 100%;
        &__inner{
          height: 85%;
        }
    }
    &--todo{
      display: flex;
      flex-direction: column;
      padding: 15px;
      min-width: 290px;
      width: 290px;
      height: 100%;
      background-color: #f9f7f5;
      box-shadow: 0 1px 5px 0 rgba(0,0,0,0.2);
      margin: 0 15px 10px 0;
      overflow-y: auto;
      @include custumRadius(8px);
        &--inputAreaWrapp{
          padding: 10px 0;
          box-sizing: border-box;
        }
        &--inputArea{
          min-height: 50px;
          width: 100%;
          font-size: 12px;
          color: #4a4a4a;
          border: none;
          border-top: 1px solid #efefef;
          padding: 5px 10px;
          @include custumRadius(8px);
          @include custumShadow(1px,2px,2px,1px);
        }
        &__wrapp{
          width: 100%;
          box-sizing: border-box;
        }
        &__header{
          padding: 10px 0;
        }
        &--counter{
          color: #7760f8;
          margin-left: 5px;
        }
        &--list{
          padding: 5px 10px;
          height: 60px;
          background: #ffffff;
          margin-bottom: 10px;
          box-sizing: border-box;
          @include custumRadius(8px);
          @include custumShadow(1px,2px,2px,1px);
        }
        &--push{
          font-size: 14px;
          text-align: center;
          height: 30px;
          color: #62ABF8;
          transition: 0.5s;
          &:hover{
            cursor: pointer;
            opacity: 0.6;
            transition: 0.5s;
          }
        }
    }
}

.fas{
  cursor: pointer;
  vertical-align: middle;
}