.errors {
  color: red;
  font-style: 14px;
    &--tasks{
      margin-top: 7px;
      white-space: normal;
    }
    &--bg{
     background: #f7dcd9;
    }
    &--profile{
      text-align: center;
    }
}

.message {
  color: red;
  font-style: 14px;
  margin-bottom: 7px;
}