@import url(https://fonts.googleapis.com/css?family=Nunito);@charset "UTF-8";

/*****************************
 foundation
******************************/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
}

html,
body {
  width: 100%;
  height: 100%;
  color: #707070;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Hiragino Sans", "\30D2\30E9\30AE\30CE\89D2\30B4   ProN W3", Hiragino Kaku Gothic ProN, Arial, Meiryo, sans-serif;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  letter-spacing: 0.1em;
}

p,
a {
  -webkit-font-smoothing: antialiased;
}

a {
  color: #0075FC;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover {
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

img {
  width: 100%;
  vertical-align: bottom;
}

input {
  border: 1px solid #707070;
}

*,
:after,
:before {
  box-sizing: inherit;
}

/*********************************************
 レイアウト サイト全体のブロックを定義する。
**********************************************/

/********************************************** 
トップページ用
**********************************************/

.l-section {
  width: 100%;
}

.l-section__third {
  background: #fff;
}

.l-section__fourth {
  color: #fff;
  background: #4C4C4C;
}

.l-section-wrapp__flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
}

/********************************************** 
タスクページ用
**********************************************/

.l-task--wrapp {
  width: 100%;
  margin: 30px auto;
}

/********************************************** 
ログイン・新規登録フォーム用
**********************************************/

.l-wrapper {
  width: 100%;
  background: #f6f6f6;
}

.l-wrapper__top {
  width: 100%;
  background: #f6f6f6;
}

.l-wrapper__reminder {
  height: 100vh;
}

.l-wrapper__profile {
  padding-top: 50px;
}

.l-main__auth {
  width: 31rem;
  margin: 0 auto;
  padding: 25px 0px 30px 0px;
  box-sizing: border-box;
}

.l-main__auth--profile {
  width: 774px;
}

.l-card__container {
  height: 100%;
  padding: 30px 40px;
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.08);
  margin-bottom: 40px;
}

.l-card__container__content {
  margin: 20px auto;
}

/********************************************** 
共通flex
**********************************************/

.l-flex {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
          justify-content: flex-end;
}

.l-header__top {
  height: 100px;
  background: #62ABF8;
}

.l-header__nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.l-header__nav nav ul {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}

.l-header__top nav ul li {
  margin-right: 30px;
}

/********************************************** 
フッター用
**********************************************/

.l-footer {
  overflow: hidden;
  font-size: 18px;
  padding: 0 20px;
}

.l-footer-container {
  float: right;
}

.l-footer-link {
  color: #707070;
  display: inline-block;
  margin-right: 30px;
}

/******************************************************************************
 コンポーネント サイト内で使用されるオブジェクト(モジュール)で汎用性が高いもの
*******************************************************************************/

.c-btn {
  padding: 0 1.5rem;
  border-radius: 3px;
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.c-btn:hover {
  opacity: 0.6;
}

.c-btn:focus {
  outline: none;
}

.c-btn-reminder {
  margin-top: 30px;
  font-size: 12px;
  text-align: center;
}

.c-btn__login {
  display: inline-block;
  background: #1e73be;
  color: #fff;
  font-weight: 600;
}

.c-btn__signin {
  display: inline-block;
  background: #000;
  color: #fff;
}

.c-btn__twitter {
  display: inline-block;
  background: #0088FF;
  color: #fff;
}

.c-btn__danger {
  font-weight: 600;
  background: red;
  color: #ffffff;
  border-radius: 30px;
}

.c-btn__footer {
  display: block;
  width: 120px;
  border-radius: 30px;
}

.c-btn__footer--login {
  background-color: #FFFFFF;
}

.c-btn__footer--message {
  background-color: #707070;
  border: solid 1px #ffffff;
  color: #ffffff;
}

.c-btn--profile {
  font-size: 12px;
  height: 25px;
  line-height: 25px;
  background-color: #3192fa;
  color: #ffffff;
}

.c-btn--profile__cancel {
  background-color: black;
}

.c-btn--profile__cancel:hover {
  opacity: 0.6;
}

.c-header__signin {
  background: #fff;
  color: #62ABF8;
  padding: 20px 45px;
  border-radius: 30px;
}

.c-header__signin:hover {
  opacity: 0.6;
}

.c-header__login {
  color: #fff;
}

/********************************************** 
デフォルトのロゴサイズとスペース
**********************************************/

.c-logo {
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /********************************************** 
  共通ヘッダー用のロゴ
  **********************************************/
  /********************************************** 
  トップページ用のマージン
  **********************************************/
  /********************************************** 
  トップページ用のマージン
  **********************************************/
}

.c-logo-ind__header {
  margin-left: 30px;
}

.c-logo__header {
  margin-top: 20px;
  margin-bottom: 30px;
}

.c-logo__clear-margin {
  margin-top: 0;
  margin-bottom: 0;
}

/*****************************
トップページのバナー用
*****************************/

.p-image-banner {
  background-image: cover;
  opacity: 0.5;
}

.c-input {
  border-radius: 3px;
  display: block;
  background-color: #fff;
  font-size: 18px;
  padding: 10px;
  width: 100%;
  box-sizing: inherit;
  border: 2px solid #dfd8d8;
}

.c-input:focus {
  outline: none;
  border: 2px solid #1e73be;
}

.c-input--profile {
  display: block;
  border-radius: 50%;
  width: 200px;
  background: #f6f5f4;
  height: 200px;
  line-height: 200px;
  position: relative;
  box-sizing: border-box;
  text-align: center;
}

.c-input--profile__drop {
  border: none;
  width: 100%;
  height: 200px;
  line-height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.c-input--profile__drop:hover {
  cursor: pointer;
}

.c-input--tasks {
  font-size: 16px;
  padding: 3px 4px;
  width: 170px;
}

.c-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.3);
}

.c-modal--body {
  position: fixed;
  left: 50%;
  top: 50%;
  width: 70%;
  max-width: 500px;
  height: 50vh;
  box-sizing: border-box;
  padding: 30px;
  z-index: 99;
  border-radius: 8px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
}

.c-modal--inner {
  margin-top: 30px;
}

.c-modal--btn__passwordEdit {
  float: right;
}

.fade-enter-active,
.fade-leave-active {
  will-change: opacity;
  -webkit-transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: opacity 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.c-form {
  text-align: center;
}

.c-form__output {
  border-radius: 50%;
}

.c-form__container--profile {
  display: -webkit-box;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 30px;
}

.c-form-lavel {
  display: inline-block;
}

.c-form-lavel__profile {
  display: block;
  text-align: center;
}

.c-form__action {
  margin-top: 30px;
}

.c-form__action__item {
  text-align: center;
  font-size: 15px;
}

.c-form__item + .c-form__item {
  margin-top: 20px;
}

/********************************************** 
デフォルトのロゴサイズとスペース
**********************************************/

.c-logo {
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /********************************************** 
  共通ヘッダー用のロゴ
  **********************************************/
  /********************************************** 
  トップページ用のマージン
  **********************************************/
  /********************************************** 
  トップページ用のマージン
  **********************************************/
}

.c-logo-ind__header {
  margin-left: 30px;
}

.c-logo__header {
  margin-top: 20px;
  margin-bottom: 30px;
}

.c-logo__clear-margin {
  margin-top: 0;
  margin-bottom: 0;
}

/********************************************** 
タスク管理画面用
**********************************************/

.c-task {
  height: calc(100vh - 100px);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  overflow-y: hidden;
}

.c-task--content {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-flow: column;
  overflow-y: hidden;
}

.c-task--borad01 {
  display: -webkit-box;
  display: flex;
  height: 100%;
}

.c-task--borad02 {
  width: 100%;
  padding-right: 0;
  height: 100%;
  background-color: #fff;
}

.c-task--borad03 {
  margin-top: 35px;
  display: -webkit-box;
  display: flex;
  height: 100%;
  width: 100%;
  white-space: nowrap;
  position: relative;
}

.c-task--sidebar {
  width: 300px;
  padding: 30px;
  position: absolute;
}

.c-task--sidebar__user {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.c-task--sidebar__usertitle {
  font-size: 18px;
  text-align: center;
}

.c-task--sidebar__wrapp {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

.c-task__avater {
  margin-right: 20px;
  width: 70px;
  height: 70px;
}

.c-task__avater > img {
  border-radius: 50%;
}

.c-task--folder__drag {
  margin-right: 15px;
}

.c-task--folder__wrapp {
  box-sizing: border-box;
  padding: 5px;
  margin-top: 10px;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.c-task--folder__wrapp:hover {
  background: #36363638;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.c-task--folder__item {
  max-width: 210px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: inline-block;
}

.c-task--folder__item:hover {
  cursor: pointer;
}

.c-task--card {
  display: -webkit-box;
  display: flex;
  height: 100%;
  margin-left: 360px;
}

.c-task--card__inner {
  height: 85%;
}

.c-task--todo {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  padding: 15px;
  min-width: 290px;
  width: 290px;
  height: 100%;
  background-color: #f9f7f5;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  margin: 0 15px 10px 0;
  overflow-y: auto;
  border-radius: 8px;
}

.c-task--todo--tips {
  display: inline-block;
  overflow: hidden;
  max-width: 245px;
  text-overflow: ellipsis;
}

.c-task--todo--inputAreaWrapp {
  padding: 10px 0;
  box-sizing: border-box;
}

.c-task--todo--inputArea {
  min-height: 50px;
  width: 100%;
  font-size: 12px;
  color: #4a4a4a;
  border: none;
  border-top: 1px solid #efefef;
  padding: 5px 10px;
  border-radius: 8px;
  box-shadow: 1px 2px 2px 1px rgba(155, 155, 155, 0.2);
}

.c-task--todo__wrapp {
  width: 100%;
  box-sizing: border-box;
}

.c-task--todo__header {
  padding: 10px 0;
}

.c-task--todo--counter {
  color: #7760f8;
  margin-left: 10px;
}

.c-task--todo--card--del {
  float: right;
}

.c-task--todo--list {
  padding: 5px 10px;
  height: 60px;
  background: #ffffff;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  box-shadow: 1px 2px 2px 1px rgba(155, 155, 155, 0.2);
}

.c-task--todo--list--del {
  float: right;
}

.c-task--todo--list--del > i {
  vertical-align: text-top;
}

.c-task--todo--push {
  font-size: 14px;
  text-align: center;
  height: 30px;
  color: #62ABF8;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.c-task--todo--push:hover {
  cursor: pointer;
  opacity: 0.6;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.activ {
  background-color: #fff;
}

.fas {
  cursor: pointer;
  vertical-align: middle;
}

.c-folder {
  display: -webkit-box;
  display: flex;
}

.c-folder--wrapp {
  display: -webkit-box;
  display: flex;
  width: 40%;
  padding: 10px;
  box-sizing: border-box;
}

.c-folder--avatar {
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.c-folder--avatar--title {
  font-size: 18px;
  text-align: center;
}

.c-folder--avatar__img {
  margin-right: 20px;
  width: 70px;
  height: 70px;
}

.c-folder--avatar__img > img {
  border-radius: 50%;
}

.errors {
  color: red;
  font-style: 14px;
}

.errors--tasks {
  margin-top: 7px;
}

.errors--bg {
  background: #f7dcd9;
}

/***********************************************************************************
 プロジェクト ページ単体でのみ使用されるオブジェクト(モジュール)で汎用性が低いもの
************************************************************************************/

.p-nav__login {
  background: #f6f6f6;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
}

.p-nav--trigger {
  float: right;
}

.p-nav--close {
  font-size: 30px;
  vertical-align: middle;
}

/********************************
 トップページ用
*********************************/

.p-card {
  width: 300px;
  margin: 20px;
  padding: 30px;
  background: #fff;
}

.p-card-border {
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.p-card__body {
  height: 100%;
}

.p-card-title {
  text-align: center;
  font-size: 38px;
  font-weight: 600;
}

.p-card-content {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

.p-card-content__third {
  font-weight: 500;
}

.p-card__third {
  padding: 15px;
  width: 50%;
  text-align: center;
}

.p-card__third--right {
  margin: 20px auto;
}

/********************************
 ログイン・サインアップ用
*********************************/

.p-card__container {
  text-align: center;
}

.p-card__title {
  display: block;
  margin-bottom: 15px;
  font-weight: 600;
}

/********************************
 プロフィール用
*********************************/

.p-card--wrapp__profile {
  width: 980px;
}

.p-eyecatch {
  height: 100vh;
  background-image: url(/images/top-backgrond.jpg?41c8c8f404b1a3d72f43a1e010eb5960);
  background-size: cover;
}

.p-eyecatch__inner {
  padding: 4rem;
}

.p-eyecatch__layout {
  position: relative;
  top: 50px;
}

.p-eyecatch__sub {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.p-eyecatch__header {
  font-size: 30px;
  color: #fff;
}

/********************************************** 
汎用的なタイトル
**********************************************/

.p-title {
  text-align: center;
  font-size: 38px;
  font-weight: 600;
}

.p-header {
  color: #fff;
  font-size: 18px;
}

.p-header--icon {
  font-size: 30px;
  margin-right: 10px;
}

.p-header--title {
  margin-left: 10px;
}

/***********************************************************************************
 ユーティリティ 一時的な対処のために利用する
************************************************************************************/

/********************************************** 
ログイン・新規登録フォーム用
**********************************************/

.u-form__line {
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: 5px;
  border-top: 5px solod #707070;
}

.u-social__item {
  text-align: center;
}

.u-redirect__login {
  margin-top: 30px;
  margin-bottom: 30px;
}

.u-inner {
  padding: 3rem;
}

.u-inner__l {
  padding: 1rem;
}

.u-inner--l {
  padding: 1rem;
}

.u-title {
  margin-bottom: 25px;
}

/********************************************** 
タスク管理用
**********************************************/

.u-task-line {
  margin-top: 20px;
  margin-bottom: 20px;
}

/********************************************** 
各種アイコン用
**********************************************/

.u-icon {
  font-size: 18px;
}

.u-icon__message {
  vertical-align: middle;
  margin-right: 5px;
}

.u-icon__sns {
  font-size: 2.5rem;
  margin-right: 10px;
}

/********************************************** 
ボタン配置用
**********************************************/

.u-btn--wrapp {
  margin-top: 7px;
}

.u-btn--password {
  margin-top: 20px;
  text-align: right;
}

.u-btn__profile--margin {
  margin-left: 10px;
}

/********************************************** 
ステータス用
**********************************************/

.u-isActive--folder {
  background: #36363638;
}

