.p-500 {
    text-align: center;
    font-size: 2.3rem;
    height: auto;
    @include mq() {
        height: auto;
        font-size: 2rem;
    }
    &__wrapp {
        padding-top: 150px;
        & > br {
            display: none;
            @include mq() {
                display: block;
            }
        }
        & > p {
            display: inline;
        }
    }
}
