.p-eyecatch{
  height: 100vh;
  background-image: url(../../img/top-backgrond.jpg);
  background-size: cover;
  &__inner{
    @include mq(){
      padding: 10px;
    }
    padding: 4rem;
  }
  &__layout{
    position: relative;
    top: 50px;
  }
  &__flex{
    display: flex;
    justify-content: space-between;
    @include mq(){
      display: block;
    }
  }
  &__header{
    font-size: 30px;
    color: #fff;
    @include mq(){
      margin: 16px 0;
    }
  }
}