.p-eyecatch{
  height: 100vh;
  background-image: url(../../img/top-backgrond.jpg);
  background-color:rgba(255,255,255,0.8);
  background-blend-mode:lighten;
  background-size: cover;
  @include mq(){
    height: 100%;
  }
  &__inner{
    @include mq(){
      padding: 15px;
    }
    padding: 4rem;
  }
  &__layout{
    position: relative;
    top: 50px;
  }
  &__flex{
    display: flex;
    justify-content: space-around;
    @include mq(){
      display: block;
    }
  }
  &__title{
    font-size: 35px;
    color: $font-color_default;
    font-weight: bold;
    @include mq(){
      text-align: center;
      margin: 16px 0; 
    }
  }
  &__img{
    width: 500px;
    height: 500px;
    @include mq(){
      width: 100%;
      height: 100%;
    }
  }
  &--p{
    font-size: 1.25rem;
  }
}