.p-eyecatch{
  height: 100vh;
  background-image: url(../../img/top-backgrond.jpg);
  background-size: cover;
  &__inner{
    padding: 4rem;
  }
  &__layout{
    position: relative;
    top: 50px;
  }
    &__sub{
      display: flex;
      justify-content: space-between;
    }
}
.p-eyecatch__header{
  font-size: 30px;
  color: #fff;
}