/*基本スタイル*/
.msg {
    &__cover {
        text-align: center;
        width: 230px;
        padding: 10px 0;
        height: 60px;
        line-height: 60px;
        font-size: 20px;
        background: #30c8d6;
        color: white;
        z-index: 100;
        @include custumRadius(10px);
    }
    &__hide {
        position: fixed;
        right: 20px;
    }
    &__hide {
        top: 17%;
    }
    &__response {
        text-align: left;
        height: auto;
        padding: 24px;
        line-height: normal;
        @include mq() {
            padding: 8px;
            width: 80%;
            height: auto;
            text-align: left;
        }
    }
}
