.p-rule{
  
  &__container{
    padding: 20px;
  }
  &__title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.5rem;
    &--sub{
      margin-bottom: 15px;
      font-size: 1.5rem;
    }
  }
  &__text{
    margin-bottom: 20px;
    line-height: 1.8;
    &--wrapp{

    }
  }
  &__list{
    margin-bottom: 20px;
    counter-reset: list-counter;
    line-height: 1.5;
    padding-left: 15px;
    &--item{
      margin-bottom: 10px;
      &:before{
        content: counter(list-counter)". ";
        counter-increment: list-counter;
      }
    }
  }
}