/********************************************** 
汎用的なタイトル
**********************************************/
.p-title{
  text-align: center;
  font-size: $font-size_3l;
  font-weight: 600;
  @include mq(){
    font-size: 30px;
  }
}