/********************************************** 
フッター用
**********************************************/
.l-footer{
  overflow: hidden;
  font-size: $font-size-l;
  padding: 0 $space_xl;
  @include mq(){
    text-align: center;
  }
    &-container{
      float: right;
    }
    &-link{
      color: $font-color_default;
      display: inline-block;
      margin-right: $space_xxl;
    }
}