.l-header{
    height: 100px;
    background: #62ABF8;
    padding-right: 20px;
    padding-left: 20px;
    z-index: 2;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;

    &__menu--item{
      @include mq(){
        padding: 15px;
        font-size: 30px;
      }
    }
    &__menu--trigger{
      display: none;
      transition: all .4s;
      box-sizing: border-box;
      position: relative;
      width: 40px;
      height: 32px;
      z-index: 3;
      @include mq(){
        display: inline-block;
      }
      span{
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        background-color: white;
        @include custumRadius(4px);
        height: 4px;
        &:nth-of-type(1){
          top: 0;
        }
        &:nth-of-type(2){
          top: 14px;
        }
        &:nth-of-type(3){
          bottom: 0;
        }
      }
      &.active span{
        &:nth-of-type(1){
          transform: translateY(12px) rotate(-45deg);
        }
        &:nth-of-type(2) {
          opacity: 0;
        }
        &:nth-of-type(3) {
          transform: translateY(-15px) rotate(45deg);
        }
      }
    }
    &__nav{
      // display: flex;
      // justify-content: space-between;
      // align-items: center; // flex-Box内の要素の縦ラインを中央揃える
        &--wrapp{
          display: block;
        }
        &--list{
          display: flex;
          justify-content: space-between;
          align-items: center;
          @include mq(){
            display: block;
            text-align: center;
          }
        }
      
  }
  .sp-menu{
    @include mq(){
      display: block;
      position: absolute;
      top: 0;
      right: -100%;
      background: rgba(98, 171, 248, 0.822); 
      width: 100%;
      height: 100vh;
      transition: all .5s;
      padding-top: 70px;
      position: fixed;
      z-index: 2;
      opacity: 0;
    }
    &-Active{
      opacity: 1;
      transition: all .5s;
      transform: translateX(-100%);
      z-index: 2;
    }
  }
}
