.l-side{
  width: 100%;
  margin: $space_xxl auto;

    &-user{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &-wrapp{
      width: 100%;
      padding: 10px;
      box-sizing: border-box;

      &__flex{
        display: flex;
        justify-content: space-between;
        overflow: hidden;
      }
    }
    &-main{
      padding: $space_xl;
      margin: $space_m;
      width: 50%;
      background: $background-color;
      box-shadow: 0 4px 12px 0 rgba(0,0,0,.4);
      @include custumRadius(10px);
      &:last-child{
        margin-right: $space_xxl;
      }
    }
    &-sub{
      width: 40%;
      padding: $space_xxl;
    }

}