/********************************************** 
ログイン・新規登録フォーム用
**********************************************/
.u-form__line{
  margin-top: $space_xxl;
  margin-bottom: $space_xxl;
  border-top: $space_s;
  border-top: 5px solod $font-color_default;
}
.u-social__item{
  text-align: center;
}
.u-redirect__login{
  margin-top: $space_xxl;
  margin-bottom: $space_xxl;
}

// 内側のpadding用
.u-inner{
  padding: 3rem;
    &__l{
      padding: 1rem;
    }
}
.u-inner--l{
  padding: 1rem;
}

// タイトル用
.u-title{
  margin-bottom: 25px;
}

/********************************************** 
タスク管理用
**********************************************/
.u-task{
  &-line{
    margin-top: $space_xl;
    margin-bottom: $space_xl;
  }
}

/********************************************** 
各種アイコン用
**********************************************/
.u-icon{
  font-size: $font-size_l;
  
  &__message{
    vertical-align: middle;
    margin-right: $space_s;
  }

  &__sns{
    font-size: 2.5rem;
    margin-right: $space_m;
  }
}

/********************************************** 
ボタン配置用
**********************************************/
.u-btn{

  &--wrapp{
    margin-top:  7px;
  }
  &--password{
    margin-top: 20px;
    text-align: right;
  }

}

.u-btn__profile--margin{
  margin-left: 10px;
}