/********************************************** 
トップページ用
**********************************************/
.u-inner {
    // 内側のpadding用
    padding: 48px;

    &__index {
        padding: 48px;
        @include mq() {
            padding: 16px;
            box-sizing: border-box;
        }
    }
    &__l {
        padding: 1rem;
    }
}

.u- {
    &systemMSG {
        background-color: #30c8d6;
        color: #fff;
        position: fixed;
        text-align: center;
        z-index: 5;
        width: 100%;
        line-height: 100px;
        height: 100px;
        top: 0;
        left: 0;
        @include mq() {
            width: 100%;
            height: auto;
            font-size: 13px;
        }
        &--active {
            transform: translateX(-150%);
            transition: all 0.5s;
            z-index: 2;
        }
    }
    &sendMail {
        padding: 16px;
        margin-bottom: 24px;
        border-radius: 5px;
        background-color: #fffaf6;
        border-color: #fa9f47;
        color: #b24603;
        border: 1px solid;
    }

    /********************************************** 
    プロフィール変更フォーム調整
    **********************************************/
    &profile__form {
        width: 230px;
        @include mq() {
            margin: 0 auto;
        }
    }
    &handle {
        cursor: move;
    }
    &activeMSG {
        position: fixed;
        top: 200px;
        left: 400px;
        @include mq() {
            position: relative;
            top: 13%;
            left: 105%;
        }
    }
    &velse {
        margin-left: 380px;
    }
}

/********************************************** 
ログイン・新規登録フォーム用
**********************************************/
.u-form__line {
    margin-top: 40px;
    margin-bottom: 40px;
    border-top: $space_s;
    border-top: 5px solod $font-color_default;
}
.u-social__item {
    text-align: center;
}
.u-redirect__login {
    margin-top: $space_xxl;
    margin-bottom: $space_xxl;
}
// タイトル用
.u-title {
    margin-bottom: 25px;
}

/********************************************** 
タスク管理用
**********************************************/
.u-task {
    &-line {
        margin-top: $space_xl;
        margin-bottom: $space_xl;
    }
}
/********************************************** 
各種アイコン用
**********************************************/
.u-icon {
    font-size: $font-size_l;
    &__wrapp {
        text-align: center;
    }
    &__message {
        vertical-align: middle;
        margin-right: $space_s;
    }
    &__sns {
        font-size: 2.5rem;
        margin-right: $space_m;
    }
}

/********************************************** 
ボタン配置用
**********************************************/
.u-btn {
    &__wrapp {
        margin-top: 7px;
    }
    &__password {
        margin-top: 20px;
        text-align: right;
    }
    &__callback {
        display: block;
        padding: 0;
        margin-top: 8px;
    }
    &__common {
        &__margin {
            margin-left: 10px;
            &:first-child {
                margin-left: 0px;
            }
        }
    }
}

.u-animetion {
    transform: rotate(5deg);
}
